asgiref==3.7.2
certifi==2023.5.7
charset-normalizer==3.1.0
Django==3.2
django-bootstrap-form==3.4
django-jalali-date==1.0.1
django-online-users==0.3
idna==3.4
jdatetime==4.1.1
pytz==2023.3
requests==2.31.0
simplejson==3.17.6
sqlparse==0.4.4
typing_extensions==4.6.3
urllib3==2.0.3
