{% extends 'base.html' %}
{% load static %}
{% load jalali_tags %}
{% block contentwraper %}
<h1 class="m-0 text-dark">مشخصات گواهی</h1>
<hr>
{% endblock%}

{% block maincontent %}
<div class="content-wraper">
    <h1 name="national_id">شماره ملی:{{mycert.cert_user_national_id }}</h1>
    <hr>
    <h1>نام:{{mycert.cert_user_name}}</h1>
    <h1>نام خانوادگی:{{mycert.cert_user_family }}</h1>

    <h1>شماره نامه:{{mycert.cert_letter_number }}</h1>
    <h1>تلفن تماس:{{mycert.cert_user_phone}}</h1>
    <h1>توضیحات:{{mycert.cert_description }}</h1>
    <h1>تاریخ ایجاد:{{mycert.cert_created_at|to_jalali:'%Y/%m/%d'}}</h1>
    <h1>تاریخ انقضا:{{mycert.cert_expired_at|to_jalali:'%Y/%m/%d'}}</h1>

    <div class="container h-100">
        <div class="d-flex h-100">
            <div class="align-self-start mr-auto">
                <a href="{% url 'creatorapp:certrevoke' cert_id=mycert.cert_user_national_id%}">
                    <button type="button" class="btn btn-danger">
                        ابطال گواهی
                    </button>
                </a>
            </div>
        </div>
    </div>

</div>
    {% endblock %}