{% extends 'base.html' %}
{% load static %}
{% load jalali_tags %}
{% block contentwraper %}
<!-- <h1 class="m-0 text-dark">مشخصات پروفایل</h1>
<hr> -->
{% endblock%}

{% block maincontent %}
<div class="content-wraper">
    {% if messages %}
    <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="True">&times;</span>
          </button>
            <h1 ><p style="color: blue">{{ message }}</p></h1>
        </div>
        {% endfor %}
      </div>
  
    </div>
  {% endif %}

  <div class="panel-body center-screen">

    <div class="col-md-6 inf-content">
    <strong>مشخصات پروفایل</strong><br>
    <div class="table-responsive">
    <table class="table table-user-information">
    <tbody>
    <tr>
    <td>
    <strong>
    <span class="glyphicon glyphicon-phone text-primary"></span>
    نام
    </strong>
    </td>
    <td class="text-primary">
      {{profile.owner_name }}
    </td>
    </tr>
    <tr>
    <td>
    <strong>
    <span class="glyphicon glyphicon-link  text-primary"></span>
    کاربری(username)
    </strong>
    </td>
    <td class="text-primary">
      {{profile.owner_user}}
    </td>
    </tr>
    <tr>
    <td>
    <strong>
    <span class="glyphicon glyphicon-cloud text-primary"></span>
    رمز عبور
    </strong>
    </td>
    <td class="text-primary">
      {{profile.owner_password }}
    </td>
    </tr>
    <tr>
    <td>
    <strong>
    <span class="glyphicon glyphicon-link text-primary"></span>
    آیپی میزکار
    </strong>
    </td>
    <td class="text-primary">
      {{profile.owner_ip }}
    </td>
    </tr>
    <tr>
    <td>
    <strong>
    <span class="glyphicon glyphicon-user  text-primary"></span>
    آیپی مدیریت فایل
    </strong>
    </td>
    <td class="text-primary">
      {{profile.owner_browser_ip}}
    </td>
    </tr>
    <tr>
    <td>
    <strong>
    <span class="glyphicon glyphicon-lock text-primary"></span>
    تعداد ساخته شده
    </strong>
    </td>
    <td class="text-primary">
      {{profile.owner_vd_created_number}}
    </td>
    </tr>
    <tr>
    <td>
    <strong>
    <span class="glyphicon glyphicon-calendar text-primary"></span>
    سرور
    </strong>
    </td>
    <td class="text-primary">
      {{profile.owner_server}}
    </td>
    </tr>
    <tr>
    <td>
    <strong>
    <span class="glyphicon glyphicon-calendar text-primary"></span>
    LDAP
    </strong>
    </td>
    <td class="text-primary">
      {%if profile.owner_create_by_ldap %}
      <img src="{% static 'assets/img/icon-yes.svg' %}" alt="{{ cert.cert_is_activate }}">
      {%else%}
      <img src="{% static 'assets/img/icon-no.svg' %}" alt="{{ cert.cert_is_activate }}">
      {%endif%}

    </td>
    </tr>
    <tr>
      <td>
      <strong>
      <span class="glyphicon glyphicon-calendar text-primary"></span>
      فعال
      </strong>
      </td>
      <td class="text-primary">
        {%if profile.owner_is_active %}
        <img src="{% static 'assets/img/icon-yes.svg' %}" alt="{{ cert.cert_is_activate }}">
        {%else%}
        <img src="{% static 'assets/img/icon-no.svg' %}" alt="{{ cert.cert_is_activate }}">
        {%endif%}
      
      </td>
      </tr>
      <tr>
        <td>
        <strong>
        <span class="glyphicon glyphicon-calendar text-primary"></span>
        پسورد VNC
        </strong>
        </td>
        <td class="text-primary" id="vncpass" onclick="copyText('vncpass')">
          {{vd_vnc_pass}}
        </td>
        </tr>
        <tr>
          <td>
          <strong>
          <span class="glyphicon glyphicon-calendar text-primary"></span>
          توضیحات
          </strong>
          </td>
          <td class="text-primary">
            {{profile.owner_description }}
          </td>
          </tr>
          <tr>
            <td>
            <strong>
            <span class="glyphicon glyphicon-calendar text-primary"></span>
            تاریخ ایجاد
            </strong>
            </td>
            <td class="text-primary">
              {{profile.owner_created_at|to_jalali:'%Y/%m/%d'}}
            </td>
            </tr>
            <tr>
              <td>
              <strong>
              <span class="glyphicon glyphicon-calendar text-primary"></span>
              آخرین بروزرسانی
              </strong>
              </td>
              <td class="text-primary">
                {{profile.owner_updated_at|to_jalali:'%Y/%m/%d'}}
              </td>
              </tr>
    </tbody>
    </table>
    </div>
    </div>

    <div class="container h-100">
        <div class="d-flex h-100">
            <div class="align-self-start mr-auto">
                <a href="{% url 'vdiApp:profileremove' profile_id=profile.owner_user %}">
                    <button type="button" class="btn btn-danger">
                        حذف پروفایل
                    </button>
                </a>
                {%if vd_url %}
                <a href="{{ vd_url }}" target="_blank">
                  <button type="button" class="btn btn-info" >
                      میزکار
                  </button>
              </a>
              {%endif%}
            </div>
        </div>
    </div>

</div>
</div>
    {% endblock %}