{% extends 'base.html' %}
{% load static %}
{% load jalali_tags %}

{% block contentwraper %}
<h1 class="m-0 text-dark">جستجو میز کار</h1>
{% endblock%}

{% block maincontent %}

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">نام کانتینر</th>
        <th scope="col">تحویل گیرنده</th>
        <th scope="col">سرور</th>
        <th scope="col">شماره نامه </th>
        <th scope="col">ایجاد کننده</th>
        <th scope="col">فعال</th>
        <th scope="col">تاریخ ایجاد</th>
      </tr>
    </thead>
    <tbody>
      {% for vd in vds%}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td><a href="{% url 'vdiApp:vdinfo' info_id=vd.vd_container_name %}">{{ vd.vd_container_name }}</a></td>
        <td>{{ vd.vd_owner }}</td>
        <td>{{ vd.vd_server }}</td>
        <td>{{ vd.vd_letter_number }}</td>
        <td>{{ vd.vd_created_by}}</td>
        <td>
          {%if vd.vd_is_activate %}
               <img src="{% static 'assets/img/icon-yes.svg' %}" alt="{{ cert.cert_is_activate }}">
          {%else%}
               <img src="{% static 'assets/img/icon-no.svg' %}" alt="{{ cert.cert_is_activate }}">
          {%endif%}
        </td>
        <td>{{ vd.vd_created_at|to_jalali:'%Y/%m/%d' }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}